* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* .box {
  background: #000;
  height: 300px;
  width: 300px;
  border: 5px solid red;
} */
/* --------------second---------- */
/* .box1 {
  background: #000;
  height: 300px;
  width: 300px;
  border: 5px solid red;
}
.box2 {
  background: #000;
  height: 300px;
  width: 300px;
  border: 5px solid red;
}
.box3 {
  background: #000;
  height: 300px;
  width: 300px;
  border: 5px solid red;
} */
/* -----------scrool--------- */
.bigBox {
  height: 100vh;
  position: relative;
  background: #000;
  border: 2px solid skyblue;
}
.smallBox {
  background: white;
  border: 2px solid red;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  height: 100px;
  width: 100px;
}
.smallBox2 {
  background: white;
  border: 2px solid red;
  position: absolute;
  left: 50%;
  top: 50%;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  height: 100px;
  width: 100px;
}
.smallBox3 {
  background: white;
  border: 2px solid red;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  height: 100px;
  width: 100px;
}
